MUMBAI_RPC_URL="https://polygon-mumbai.g.alchemy.com/v2/ExampleKey"
SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/ExampleKey"
PRIVATE_KEY="EVM wallet private key (Example: 6c0d*********************************************ac8da9)"
ETHERSCAN_API_KEY="ETHERSCAN API key (Get a free one: https://etherscan.io/)"
POLYGONSCAN_API_KEY="POLYGONSCAN API key (Get a free one: https://polygonscan.com/)"
GOOGLE_PROJECT_ID="Google Cloud project ID here"
GOOGLE_PROPERTY_2="Google Analytics property ID 1 here"
GOOGLE_PROPERTY_1="Google Analytics property ID 2 here"
GOOGLE_ISS="Google Cloud service account here"
GOOGLE_KEY="-----BEGIN PRIVATE KEY-----\nGoogle Cloud private key here\n-----END PRIVATE KEY-----\n"
